@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* General */
/* hace que el html tenga un movimiento lento */
html{
scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Navegación de index */
.contenedor-header{
    font-family: Arial, sans-serif;
    background-color: #8B4513;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.contenedor-header header {
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px ;
    color: #000000;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px ;
    padding: 3px;
    transition: 0.5s;
    text-decoration: none;
}
/* resalta cuando se para en el cursor */
.contenedor-header header nav ul li a:hover{
    color: #A1D6B2;
}
.nav-responsive {
    background-color:#1cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Sección Quiénes Somos */
#Quiensomos {
    background-color: #fff; /* Fondo blanco para contraste */
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra para darle profundidad */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Título principal */
.quienSo h1 {
    font-size: 2.5em;
    color: #8B4513; /* Marrón oscuro */
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* Botón Quiénes Somos */
.quienSomos {
    background-color: #D2691E; /* Marrón intermedio */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 10px;
}

.quienSomos:hover {
    background-color: #8B4513; /* Oscurecer al pasar el mouse */
}

/* Párrafo del texto */
.texto {
    font-size: 1em;
    line-height: 1.6;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}
/* Ver el catalogo */
.catalogo {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.catalogo h2 {
    font-size: 1.5em;
    color: #8B4513;
}

.producto {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.producto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.catalogo .ver-carrito {
    background-color: #D2691E;
    color: #fff;
    border: 2px solid;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px; 

    width: fit-content;
    display: block;
    margin: 20px auto;

    position: relative;
    z-index: 1;
    transition: 1s;
}

.ver-carrito:hover {
    background-color: #8B4513;
}



/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Estilo de los contenedores de formulario */
.formulario {
    background-color: #fff;
    padding: 50px 20px;
    max-width: 900px;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.formulario .contenido-section {
    text-align: center;
    margin-bottom: 40px;
}

.formulario h2 {
    color: #8B4513;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos de los inputs */
input[type="text"], textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Estilo de los textos */
input[type="text"]::placeholder, textarea::placeholder {
    color: #888;
}

/* Estilo del botón de envío */
button {
    background-color: #D2691E;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8B4513;
}

/* Estilo de los inputs al recibir foco */
input[type="text"]:focus, textarea:focus {
    outline: none;
    border-color: #8B4513;
}

/* Estilo de los campos de texto (textarea) */
textarea {
    height: 200px;
    resize: none;
}

/* Estilos para la columna de inputs */
.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fila .col {
    flex: 1;
    min-width: 250px;
}

/* Estilos del formulario en pantallas pequeñas */
@media (max-width: 768px) {
    .fila {
        flex-direction: column;
    }

    .fila .col {
        width: 100%;
    }
}

/* Estilo del botón de envío (overlay) */
button span.overlay {
    display: none;
}

/* Hover sobre el botón */
button:hover span.overlay {
    display: inline-block;
}


/* Encabezado */
header {
    text-align: center;
    padding: 20px;
    background-color: #8B4513;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botón del carrito */
#carrito button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #D2691E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#carrito button:hover {
    background-color: #A0522D;
}

/* Productos */
#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.producto {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}
.producto img {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}
.producto button {
    padding: 10px;
    background-color: #6B8E23;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.producto button:hover {
    background-color: #556B2F;
}

/* Carrito */
#carritoContainer {
    position: fixed;
    top: 50px;
    right: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.carrito-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.carrito-item button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.carrito-item button:hover {
    background-color: #c82333;
}

/* Total y oculto */
#totalAPagar {
    text-align: center;
    font-size: 1.2em;
    margin: 15px 0;
}
.oculto {
    display: none;
}

/*  */
/*  */
/* Estilos para el contenedor de slogan */
.slogan-catalogo {
    background-color: #ccc; /* Marrón oscuro */
    color: #2c2b2b; /* Texto blanco */
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra para darle profundidad */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px auto;
    max-width: 800px;
}

/* Estilos para el título */
.slogan.catalogo h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Righteous', sans-serif;
}

/* Estilos para el párrafo */
.slogan.catalogo p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilos para el botón del carrito */
#carrito button {
    background-color: #D2691E; /* Marrón intermedio */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#carrito button:hover {
    background-color: #A0522D; /* Oscurecer al pasar el mouse */
}
/* quien somos */

.quienes-somos {
    color: #8b5e3c;
    text-align: center;
}

.viste-tu {
    color: #a07956;
    text-align: center;
    font-style: italic;
}

.somos {
    font-size: 16px;
    line-height: 1.6;
    margin: 15px 20px;
    text-align: justify;
}

.fotos {
    display: block;
    margin: 20px auto;
    border: 3px solid #d6c4aa;
    border-radius: 8px;
}

/*footer  */
footer {
    background-color:#a07956;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes a{
    color:#fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;
}
footer .redes a:hover{
    background-color: #A0522D;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #efb810;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
}
/* permite el espaciadoentre iconos */
footer .redes {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los contactos */
}

footer .contacto a {
    text-decoration: none;
    font-size: 1.2em;
}

/* Responsive */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

